body {
    width: 80%;
    margin: 60px auto;
    font-family: helvetica, sans-serif;
    font-size: 48px;
    background-color: #232323;
    color: #ddd;
}

.line-display {
    margin-top: 20px;
}

.inactive-line {
    color: #888;
}

.muni-legend {
    padding-bottom: 6px;
    border-bottom: 3px solid #888;
}

.station-name {
    font-weight: bold;
    font-size: 35px;
}

.muni-marker {
    display: inline-block;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    border: 3px solid black;
}

.muni-rect {
    border-radius: 6px;
    padding: 2px 0;
    width: 44px;
}

.muni-circle {
    border-radius: 28px;
    padding: 5px 0;
    width: 50px;
}

.line-name {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1.5px;
}

.line-data {
    font-weight:bold;
}

.RectBus {
    background-color: #555;
}

.RectF {
    background-color: #d35400;
}

.CircleJ {
    background-color: #FAA724;
    color: white;
}
.CircleK {
    background-color: #529BC0;
    color: white;
}
.CircleL {
    background-color: #932091;
    color: white;
}
.CircleM {
    background-color: #008850;
    color: white;
}
.CircleN {
    background-color: #00509C;
    color: white;
}
.CircleT {
    background-color: #D50942;
    color: white;
}

.MuniJ {
    color: #FAA724;
}
.MuniK {
    color: #529BC0;
}
.MuniL {
    color: #932091;
}
.MuniM {
    color: #008850;
}
.MuniN {
    color: #00509C;
}
.MuniT {
    color: #D50942;
}
