body {
    width: 80%;
    margin: 60px auto;
    font-family: helvetica, sans-serif;
    font-size: 48px;
    background-color: #181818;
    color: #ddd;
}

.line-display {
    margin: 20px 0 8px 0;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1.5px;
    display: inline-block;
    width: 49.48%;
    vertical-align: top;
}

.inactive-line {
    color: #888;
}

.muni-legend {
    border-bottom: 3px solid #888;
}

.station-name {
    font-weight: bold;
    font-size: 35px;
}

.muni-marker-container {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-bottom: 2px;
    vertical-align: top;
}

.muni-rect-container {
    width: 46px;
}

.muni-circle-container {
    width: 50px;
}

.muni-marker {
    font-size: 35px;
    margin-bottom: 2px;
}

.muni-marker-caption {
    float: left;
    top: 10px;
    font-size: 10px;
}

.muni-rect-caption {
    width: 46px;
}

.muni-circle-caption {
    width: 50px;
}

.muni-rect {
    border-radius: 6px;
    padding: 3px 0;
    margin: 4px 0;
}

.muni-circle {
    border-radius: 28px;
    padding: 5px 0;
}

.line-desc {
    display: inline-block;
    width: 70%;
    margin-top: 12px;
    text-align: right;
    float: right;
}

.to {
    color: #444;
    text-shadow: 0 0 5px #111;
}

.line-data {
    font-weight:bold;
    font-size:35px;
}

.RectBus {
    background-color: #555;
}

.RectF {
    background-color: #d35400;
}

.CircleJ {
    background-color: #FAA724;
}
.CircleK {
    background-color: #529BC0;
}
.CircleL {
    background-color: #932091;
}
.CircleM {
    background-color: #008850;
}
.CircleN {
    background-color: #00509C;
}
.CircleT {
    background-color: #D50942;
}

.MuniJ {
    color: #FAA724;
}
.MuniK {
    color: #529BC0;
}
.MuniL {
    color: #932091;
}
.MuniM {
    color: #008850;
}
.MuniN {
    color: #00509C;
}
.MuniT {
    color: #D50942;
}
